# Data
*.db.*

# Logs
logs
.log

# Dependency directories
node_modules/

# dotenv environment variables file & keys
.env
.env.test
src/keys

# keys & secrets
firebase-adminsdk.json
tuya-devices.json

# Editors
.vscode

#build
/dist
# keys
firebase-adminsdk.json

src/keys
dist
