# Data
*.db.*

# Logs
logs
.log

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# keys & secrets
firebase-adminsdk.json
tuya-devices.json

# Editors
.vscode
